<%= simple_form_for(@ad) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <div class="form-group">
      <%= f.label :title %>
      <%= f.text_field :title, :autofocus => true, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :description %>
      <%= f.text_area :description, :autofocus => true, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= image_tag(@ad.pic_url) if @ad.pic? %>
      <%= f.file_field :pic %>
      <%= f.hidden_field :pic_cache %>
      <label><%= f.check_box :remove_pic %>Remove Pic</label>
    </div>
  </div>
   <%= f.hidden_field :address, :value => current_user.address %>
   <%= f.hidden_field :city, :value => current_user.city %>
   <%= f.hidden_field :state, :value => current_user.state %>
   <%= f.hidden_field :zip, :value => current_user.zip %>
  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
