<%= simple_form_for(@ad, html: {class: 'form-vertical' }) do |f| %>
     
      <%= f.association :category, collection: Category.order('name ASC') %>
      <%= f.input :price, placeholder: '0.00' %>
      <%= f.input :title %>
      <%= f.input :description %>
      <%= image_tag(@ad.pic_url) if @ad.pic? %>
      <%= f.file_field :pic %>
      <%= f.hidden_field :pic_cache %>
      <label><%= f.check_box :remove_pic %>Remove Pic</label>
      <%= image_tag(@ad.pic2_url) if @ad.pic2? %>
      <%= f.file_field :pic2 %>
      <%= f.hidden_field :pic2_cache %>
      <label><%= f.check_box :remove_pic2 %>Remove Pic2</label>
      <%= image_tag(@ad.pic3_url) if @ad.pic3? %>
      <%= f.file_field :pic3 %>
      <%= f.hidden_field :pic3_cache %>
      <label><%= f.check_box :remove_pic3 %>Remove Pic3</label>
      <%= f.hidden_field :zip, :value => current_user.zip %>
      <%= f.hidden_field :user_id, :value => current_user.id %>
      <p><%= f.button :submit %>
<% end %>
