<h1>Listing ads</h1>
 
<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
  </tr>
 
  <% @ads.each do |ad| %>
    <tr>
     <% if can? :manage, ad %>
      <td><%= ad.title %></td>
      <td><%= ad.description %></td>
      <td><%= link_to 'Show', ad_path(ad) %></td>
      <td><%= link_to 'Edit', edit_ad_path(ad) %></td>
      <td><%= link_to "Destroy", ad, :method => :delete, :confirm => "Are you sure?" %></td>
     <% end %>
    </tr>
  <% end %>
</table>

<%= link_to 'New Ad', new_ad_path %>