<h3>Ad</h3>
<p id="notice"><%= notice %></p>

<%= link_to 'Back', ads_path %>
<p>Title: <%= @ad.title %></p> 
<%= link_to 'Start Conversation', :new_conversation %>
<% if @ad.user.url %>
<p><%= link_to("Facebook Page", @ad.user.url, :target => "_blank") %></p>
<% end %>
<p>Description: <%= simple_format(@ad.description) %></p> 
<p><% unless @ad.pic_url.nil? %><%= image_tag @ad.pic_url %><br /><% end %>
<p><% unless @ad.pic2_url.nil? %><%= image_tag @ad.pic2_url %><br /><% end %>
<p><% unless @ad.pic3_url.nil? %><%= image_tag @ad.pic3_url %><br /><% end %>
<%= image_tag "http://maps.google.com/maps/api/staticmap?size=225x150&sensor=false&zoom=10&markers=#{@ad.latitude}%2c#{@ad.longitude}" %>